{% extends 'base.html.twig' %}


{% block body %}
<body>

<div id="home"class="container-fluid">
    <header class="row">
        <h1>Easy Wedding</h1>



    </header>
    <main class="row">
        <nav class="col-lg-12">
            <h1 id="id1">Connexion</h1>
            <input type="text" name="name"><input type="password" name="mdp"><input type="submit" name="submit">
            <ul>
                <li>Home</li>
                <li>Inscription</li>
                <li>Photos</li>
                <li>Contact</li>
            </ul>
        </nav>


        <article  class="col-lg-6">
            <h1>article1</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum delectus quidem nobis, impedit soluta mollitia dignissimos error itaque tempora. Aspernatur sed blanditiis libero culpa quos, nisi atque esse nihil Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga maiores pariatur alias vitae tenetur nemo quis inventore, minima magnam, deserunt odit nam! Nulla magnam pariatur obcaecati, qui quam, impedit sint. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure animi aliquam cupiditate delectus natus amet. Incidunt repudiandae deserunt, illum quaerat ipsum rem odio commodi cupiditate deleniti ea expedita consectetur, natus.
        </article>
        <article class="col-lg-6">
            <h1>article2</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum delectus quidem nobis, impedit soluta mollitia dignissimos error itaque tempora. Aspernatur sed blanditiis libero culpa quos, nisi atque esse nihil Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga maiores pariatur alias vitae tenetur nemo quis inventore, minima magnam, deserunt odit nam! Nulla magnam pariatur obcaecati, qui quam, impeditlorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis fugit doloribus sunt sapiente, corrupti numquam, earum molestiae iure maxime in nostrum sit facilis nemo. Magnam quam voluptate consequatur inventore numquam?
        </article>
    </main>
</div>

</body>
{% endblock %}
